<div class="card shadow text-center"
    [ngStyle]="{'max-width':'350px', 'min-width':'350px','min-height': '220px', 'max-height': '250px'}">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="carx-text">{{project.summary}}</p>
        <button class="btn btn-primary" (click)="openModal()">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let data of project.tags" class="tag me-2 mb-1" [ngStyle]="{'background-color': data.color}">
                {{data}}</div>
        </div>
    </div>
</div>